Package: mihomo-manager
Version: 0.1.0
Architecture: amd64
Installed-Size: 14763
Maintainer: Alfred
Priority: optional
Depends: libwebkit2gtk-4.1-0, libayatana-appindicator3-1, libgtk-3-0
Description: Mihomo management application
 (none)
