[Desktop Entry]
Type=Application
Name=Mihomo Manager
Comment=Mihomo (Clash Meta) 代理管理桌面应用程序
Exec=mihomoapp
Icon=mihomoapp
Terminal=false
Categories=Network;
Keywords=proxy;mihomo;clash;vpn;
StartupWMClass=mihomoapp
MimeType=
